@import "/node_modules/bootstrap/scss/variables";

$btn-border-radius: 0;
$btn-border-radius-lg: 30px;
$btn-padding-x-lg: 0;
$btn-transition: transform 0.15s;
$btn-border-width: 0.2px;
$btn-font-weight: bold;
$btn-box-shadow: inset 2px 2px 7px #ffffff3c;
